
.cards {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.card {
display: flex;
flex: 1 1 calc(33.3% - 20px);
  min-width: 250px;
  background: #fff;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
}