body {
height: 100vh;
}


.container {
    display: flex;
    align-items: end;
    justify-content: end;
    height: 100%;
}


.caixa {
    margin: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
   
    background-image: linear-gradient(to bottom, rgb(255, 106, 0), rgb(249, 164, 125));
    height: 200px;
    width: 200px;
    color: white;
}
