body {
height: 100vh;
}


.container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}


.caixa {
    flex: 1;
    margin: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(to bottom, rgb(0, 110, 255), rgb(152, 145, 255));
    height: 200px;
    width: 200px;
    color: white;
}
