h1 {
    color: #099702;
    text-align: center;
}
h2 {
    color: #1fc54e;
    text-align: left;
}

p1{
color: #1845e7;
text-align: justify;

}

p{
color: #ff8400;
text-align: right;
font-size: larger;
}

