.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.caixa {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150px;
    width: 150px;
    background-image: linear-gradient(to bottom, rgb(35, 33, 114), rgb(117, 230, 46));
    color: white;
}